* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #f3f3f3;
}
/* Whole HOME DIV START */

/* navbar */
.navs-style {
  margin-top: 10px;
}
.title-nav {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 24px;
  line-height: 22px;
}

.btn-nav {
  background-color: #9cd880;
  border-radius: 10px;
}

.nav-left {
  font-weight: 800;
  font-size: 17px;
  line-height: 18px;
}

.home {
  border-bottom: 2px solid #4a5978;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
}

.home::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  /* bottom: 0; */
  width: 100%;
  height: 100vh;
  opacity: 1;
  background-image: url("https://images.unsplash.com/photo-1592595896551-12b371d546d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.home img {
  margin-right: 2rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  /* width: auto; */
  height: auto;
  max-width: 70%;
  cursor: pointer;
}

.greeting {
  margin-left: 0rem;
  margin-right: 55rem;
  margin-bottom: 15rem;
  align-self: flex-end;
  width: 30%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  color: #ffffff;
}

.greeting-message {
  font-family: "Montserrat";
  font-style: normal;
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.register-button {
  margin-top: 10px;
  color: rgba(56, 176, 0, 0.74);
  width: 130px;
  height: 40px;
  border-style: none;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  background: #ffffff;
  border-radius: 5px;
  /* identical to box height */
}

/* .register-button i{
} */

/* -------------------------------------------------------------------------- */

/*after login css*/

/* cards */

.div-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #5b5b5b;
}
.title-info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #5b5b5b;
}

.card {
  padding-bottom: 20px;
  border-color: #ffffff;
}

.button-card,
.button-view {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 12px;

  color: #ffffff;
  width: 100px;
  height: 50px;
  background: rgba(56, 176, 0, 0.5);
  border-radius: 5px;
  border: #ffffff;
}

.card-img-top {
  height: 15rem;
  padding: 0;
}

/* why */
.logo {
  width: 30px;
  height: 30px;
  background: #9cd880;
  border-radius: 10px;
  margin-top: 2rem;
  margin-left: 1rem;
  border: none;
}

.para-why {
  font-style: normal;
  font-weight: 350;
  font-size: 17px;
  line-height: 25px;
}

.title-why {
  color: #5b5b5b;
}

.subspace {
  height: 270px;
  background-color: rgba(63, 86, 52, 0.5);
  margin: 30px;
}

/*review*/
.review {
  align-items: center;
  justify-content: center;
}

.title-review {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 52px;
  color: #5b5b5b;
  /* identical to box height */
}

.text-para {
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 350;
  font-size: 17px;
  line-height: 25px;
}

.para-review {
  color: #959595;
}

.para-card12 {
  font-size: large;
  font-weight: 500;
  color: #ffffff;
}
.para-card3 {
  color: #9cd880;
  font-size: large;
  font-weight: 500;
}

.card-color {
  background-color: #9cd880;
  border-radius: 10px;
}

.ellipse-3 {
  margin-top: -40px;
  height: 75px;
  width: 75px;
  border-radius: 50px 50px 50px 50px;
  margin-bottom: 0px;
  background-color: #4a5978;
}

.searchbar {
  background-color: #ffffff;
  margin-top: 2rem;
}

.search-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 52px;
}

.search-input {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;

  border: none;
}

.search-btn {
  background: rgba(56, 176, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
}

/*footer*/

.footer {
  background: rgba(56, 176, 0, 0.65);
  margin-top: 30px;
  padding: 50px;
  color: #ffffff;
}

.contacts {
  line-height: 10px;
}
